
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("c.jpg");
  background-size: cover;
}

.stopwatch {
  text-align: center;
  background:transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(234, 231, 231, 0.1);
  font-size: 1.5em;
  color:black;
}

#display {
  font-size: 2.9em;
  margin: 20px 0;
}

.buttons button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1.1em;
  background-color: #b1b0b0;
}

.laps {
  margin-top: 20px;
}

.laps ul {
  list-style-type: none;
  padding: 0;
}

.laps li {
  border-top: 1px solid #ddd;
  padding: 5px 0;
}
